{% extends "bisect_base.html" %}

{% block content %}
<link href="{{ static('css/bisect.css') }}" rel="stylesheet"></link>
<div id='header'>
    <a href="/">Bisect Cloud</a>
</div>
<div id='container'>
    <div id='main_content'>
        Current Jobs running.
    </div>
    <div class='menu'>
        <form id='run-test' method='POST'>
            <label for='hg-bad'>Bad Revision</label><input id='hg-bad' type='text'>
            <label for='hg-good'>Good Revision</label><input id='hg-good' type='text'>
            <label for='test'>Test</label><input id='test' type='text'>
            <label for='platform'>Platform</label>
            <!-- //TODO(David) Populate options from Database-->
            <select id='platform'>
                <option value='win32'>Win 32</option>
                <option value='linux32'>Linux 32</option>
                <option value='linux64'>Linux 64</option>
            </select>
            <button id='submitbutton'>Submit</button>
        </form>
    </div>
</div>



{% endblock %}
{% block site_js %}
    <script src="{{ static('js/libs/jquery-1.4.4.min.js') }}"></script>
    <script src="{{ static('js/libs/jquery.cookie.js') }}"></script>
    <script src="{{ static('js/init.js') }}"></script>
{% endblock %}
