{% extends "bisect_base.html" %}

{% block content %}
<link href="{{ static('css/bisect.css') }}" rel="stylesheet"></link>
<div id='header'>
    <a href="/">Bisect Cloud</a>
</div>
<div id='container'>
    <div id='main_content'>
        <h1>Current Jobs running</h1>
        <table>
            <thead>
                <td>id</td>
                <td>bad</td>
                <td>good</td>
                <td>test</td>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr class="task">
                    <td>{{ task.id }}</td>
                    <td>{{ task.bad }}</td>
                    <td>{{ task.good }}</td>
                    <td>{{ task.test }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class='menu'>
        <form id='run-test'>
            <label for='hg-bad'>Bad Revision</label><input id='hg-bad' name='hg-bad' type='text'>
            <label for='hg-good'>Good Revision</label><input id='hg-good' name='hg-good' type='text'>
            <label for='test'>Test</label><input id='test' name='test' type='text'>
            <label for='platform'>Platform</label>
            <select id='platform' name='platform'>
            {% for plat in platforms %}
                <option value='{{plat.name}}'>{{plat.name}}</option>
            {% endfor %}
            </select>
            <label for='tree'>Tree</label>
            <select id='tree' name='tree'>
            {% for tree in treeinfo %}
                <option value='{{tree.name}}'>{{tree.name}}</option>
            {% endfor %}
            </select>
            {{ csrf() }}
            <button type='button' id='submitbutton'>Submit</button>
        </form>
    </div>
</div>

<!--- TODO ADD CODE TO FIND ITEM -->

{% endblock %}
{% block site_js %}
    <script src="{{ static('js/libs/jquery-1.4.4.min.js') }}"></script>
    <script src="{{ static('js/libs/jquery.cookie.js') }}"></script>
    <script src="{{ static('js/libs/jquery.serializeJSON.min.js') }}"></script>
    <script src="{{ static('js/init.js') }}"></script>
{% endblock %}
