<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>{% block page_title %}Bisect in the Cloud! {% endblock %}</title>

      <link href="{{ static('/css/main.css') }}" rel="stylesheet">
  </head>
  <body data-mobile-cookie="{{ settings.MOBILE_COOKIE }}">
    {% block content %}{% endblock %}

    <div id="footer">
      {# These links will add/remove cookies. See JavaScript. #}
      <a class="desktop-link" href="">{{ _('View Desktop Site') }}</a>
      &nbsp;|&nbsp;
      <a class="mobile-link" href="">{{ _('View Mobile Site') }}</a>
    </div>

    {% block site_js %}
      {# compress js #}
      <script src="{{ static('examples/js/libs/jquery-1.4.4.min.js') }}"></script>
      <script src="{{ static('examples/js/libs/jquery.cookie.js') }}"></script>
      <script src="{{ static('examples/js/init.js') }}"></script>
      {# endcompress #}
    {% endblock %}
    <script>
    $(document).ready(function() {
      $("#submitbutton").click(function(){
        $.post('job/add',
                $('#run-test').serialize(),
                function(data) {
                    var result = JSON.parse(data);
                    if (result.id) {
                      var tr = document.createElement('tr');
                      tr.classList.add('task')
                      var td1 = document.createElement('td')
                      var con1 = document.createTextNode(result.id);
                      td1.appendChild(con1);
                      var td2 = document.createElement('td')
                      var con2 = document.createTextNode($('#hg-bad').val());
                      td2.appendChild(con2);
                      var td3 = document.createElement('td')
                      var con3 = document.createTextNode($('#hg-good').val());
                      td3.appendChild(con3);
                      var td4 = document.createElement('td')
                      var con4 = document.createTextNode($('#test').val());
                      td4.appendChild(con4);

                      tr.appendChild(td1);
                      tr.appendChild(td2);
                      tr.appendChild(td3);
                      tr.appendChild(td4);
                      var tbody = document.getElementsByTagName('tbody')[0];
                      tbody.appendChild(tr);

                      // clear inputs
                      $('#hg-bad').val('')
                      $('#hg-good').val('')
                      $('#test').val('')
                    }
                });
      });
    });
    </script>
  </body>
</html>
